<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div><% messages.map( (mes) => { %>
      <h3><%= mes.user %></h3>
      <p><%= mes.text %></p>
      <p class="sent-info">sent: <%= mes.added %></p>
    <% }) %></div>
    <a href="/new">add message</a>
  </body>
</html>
